<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StreamElements Local Cloudbot</title>
    <link rel= "stylesheet" type= "text/css" href= "/static/styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header id="MainHeader">
        <h1>StreamElements<br>Local Cloudbot</h1>
        <nav>
            <a href="#extensions">Extensions</a>
            <a href="#settings">Settings</a>
            <a href="#events">Events</a>
            <a href="#logs">Logs</a>
            <a href="#messages">Messages</a>
            <a href="#regulars">Regulars</a>
            <a href="#setup">Setup</a>
        </nav>
    </header>

    <article id="extensions">
        <header>
            <h1>Extensions</h1>
            <div id="ResetExtensions" class="ResetClearBtn" style="display: none;">RESET</div>
        </header>
        <section class="data">
            {% for extension in extensions %}
            <section class="ExtensionItem">
                {% if extension.enabled %}
                <input class="CustomCheckbox ToggleExtension" type="checkbox" checked data-module="{{extension.moduleName}}"/>
                {% else %}
                <input class="CustomCheckbox ToggleExtension" type="checkbox" data-module="{{extension.moduleName}}"/>
                {% endif %}
                <p>{{extension.moduleName}}</p>
            </section>
            {% endfor %}
        </section>
    </article>
    <article id="settings">
        <header>
            <h1>Settings</h1>
        </header>
        <section class="data">
            {% for setting in ExtensionsSettings %}
            <div>
                <div class="OpenCloseButton" data-target="#setting{{loop.index-1}}">{{setting['name']}}</div>
                <section class="ClosedSetting" id="setting{{loop.index-1}}" data-index="{{loop.index-1}}" data-name="{{setting['name']}}" data-path="{{setting['path']}}">
                    {% for subsetting in setting['settings'] %}
                    <section>
                        <h3>{{subsetting}}</h3>
                        <div class="CompactButton SetDefaultSetting" data-default="{{setting['settings'][subsetting]['value']}}">Set Default</div>
                        <p>{{setting['tip']}}</p>
                        {% if setting['settings'][subsetting]['type']|lower == 'dropdown' %}
                        <select name="{{subsetting}}" data-settingname="{{subsetting}}">
                            {% for choice in setting['settings'][subsetting]['choices'] %}
                            {% if setting['settings'][subsetting]['current_value'] == choice %}
                            <option value="{{choice}}" selected>{{choice}} yes</option>
                            {% else %}
                            <option value="{{choice}}">{{choice}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% elif setting['settings'][subsetting]['type']|lower == 'checkbox' %}
                        {% if setting['settings'][subsetting]['current_value'] == True %}
                        <input class="CustomCheckbox" type="checkbox" checked data-settingname="{{subsetting}}" />
                        {% else %}
                        <input class="CustomCheckbox" type="checkbox" data-settingname="{{subsetting}}" />
                        {% endif %}
                        {% else %}
                        <input type="{{setting['settings'][subsetting]['type']}}" value="{{setting['settings'][subsetting]['current_value']}}" data-settingname="{{subsetting}}" />
                        {% endif %}
                    </section>
                    {% endfor %}
                    <div class="save_settings CompactButton" data-index="{{loop.index-1}}" data-name="{{setting['name']}}">Save Settings</div>
                </section>
            </div>
            {% endfor %}
        </section>
    </article>
    <article id="events">
        <header>
            <h1>Events</h1>
            <div id="ClearEvents" class="ResetClearBtn">CLEAR</div>
        </header>
        <section class="data listFormat">
            {% for event in events %}
            <div>
                <h2>{{event['type']}}</h2>
                {% if event['type']  == 'tip' %}
                <p>{{event['data']['amount']}} {{event['data']['currency']}} => {{event['data']['username']}}</p>
                {% elif event['type']  == 'cheer' %}
                <p>{{event['data']['amount']}} bits => {{event['data']['username']}}</p>
                {% elif event['type']  == 'host' %}
                <p>{{event['data']['amount']}} host => {{event['data']['username']}}</p>
                {% elif event['type']  == 'raid' %}
                <p>{{event['data']['amount']}} raid => {{event['data']['username']}}</p>
                {% elif event['type']  == 'subscriber' %}
                <p>
                    {% if event['data']['tier'] == 'prime' %}
                    prime
                    {% elif event['data']['tier'] == '2000' %}
                    tier 2
                    {% elif event['data']['tier'] == '3000' %}
                    tier 3
                    {% else %}
                    tier 1
                    {% endif %}
                    {% if event['data']['gifted'] == True %}
                    gift => {{event['data']['sender']}} to {{event['data']['username']}}
                    {% else %}
                    , {{event['data']['amount']}} months => {{event['data']['username']}}
                    {% endif %}
                </p>
                {% else %}
                <p>{{event['data']['username']}}</p>
                {% endif %}
            </div>
            {% endfor %}
        </section>
    </article>
    <article id="messages">
        <header>
            <h1>Messages</h1>
            <div id="ClearMessages" class="ResetClearBtn">CLEAR</div>
        </header>
        <section class="data">
            {% for message in messages %}
            <p class="message">{{message}}</p>
            {% endfor %}
        </section>
    </article>
    <article id="logs">
        <header>
            <h1>Logs</h1>
            <div id="ClearLogs" class="ResetClearBtn">CLEAR</div>
        </header>
        <section class="data listFormat">
            {% for log in ExtensionLogs %}
            <div>
                <h2>{{log.module}}</h2>
                <p>{{log.message}}</p>
            </div>
            {% endfor %}
        </section>
    </article>
    <article id="regulars">
        <header>
            <h1>Regulars</h1>
        </header>
        <section class="data">
            <div id="RegularWrapper">
                <div id="AddDeleteRegular">Specify user</div>
                <input type="text" id="RegularInput" list="RegularList">
                <datalist id="RegularList">
                    {% for regular in regulars %}
                    <option class="RegularUser{{regular|lower}}" value="{{regular|lower}}"></option>
                    {% endfor %}
                </datalist>
            </div>
        </section>
    </article>
    <article id="setup">
        <header>
            <h1>Setup</h1>
        </header>
        <section class="data">
            <section>
                <p>Server port</p>
                <input type="number" id="server_port-input" value="{{settings['server_port']}}" /><div class="CompactButton saveSetupButton">SAVE</div>
            </section>
            <section>
                <p>Script executions per second</p>
                <input type="number" id="exec_per_second-input" value="{{settings['executions_per_second']}}" /><div class="CompactButton saveSetupButton">SAVE</div>
            </section>
            <section>
                <p>StreamElements might disconnect using the Socket IO option<br>Would recommend using Websocket.<br>(compatibility issues with newer versions)</p>
                <select id="SEListenerMethod">
                    {% if settings['SEListener'] == 1 %}
                    <option value="1" selected>Socket IO</option>
                    <option value="2">Websocket</option>
                    {% else %}
                    <option value="1">Socket IO</option>
                    <option value="2" selected>Websocket</option>
                    {% endif %}
                </select>
            </section>
        </section>
    </article>
    <footer>
        <h2>Unofficial creation by Yazaar</h2>
        <p><a target="_blank" rel="noopener noreferrer" href="https://streamelements.com/yazaar/tip" >Support me (donate)</a></p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="/static/scripts/index.js"></script>
</body>
</html>
