<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StreamElements Local Cloudbot</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <datalist id="DiscordRegularGroupList">
        {% for drg in discordRegularGroups %}
        <option value="{{drg}}">{{drg}}</option>
        {% endfor %}
    </datalist>
    <datalist id="TwitchRegularGroupList">
        {% for trg in twitchRegularGroups %}
        <option value="{{trg}}">{{trg}}</option>
        {% endfor %}
    </datalist>
    <header id="MainHeader">
        <h1>StreamElements<br>Local Cloudbot</h1>
        <nav>
            <a href="#extensions">Extensions</a>
            <a href="#settings">Settings</a>
            <a href="#events">Events</a>
            <a href="#logs">Logs</a>
            <a href="#messages">Messages</a>
            <a href="#regulars">Regulars</a>
            <a href="#twitch">Twitch</a>
            <a href="#streamelements">StreamElements</a>
            <a href="#discord">Discord</a>
            <a href="#setup">Setup</a>
        </nav>
    </header>

    <article id="extensions">
        <header>
            <h1>Extensions</h1>
            <div id="ResetExtensions" class="ResetClearBtn" style="display: none;">RESET</div>
        </header>
        <section class="data">
            {% for extension in extensions %}
            <div class="ExtensionItem">
                {% if extension.enabled %}
                <input class="CustomCheckbox ToggleExtension" type="checkbox" checked
                    data-module="{{extension.moduleName}}" />
                {% else %}
                <input class="CustomCheckbox ToggleExtension" type="checkbox" data-module="{{extension.moduleName}}" />
                {% endif %}
                <p class="ExtensionName">{{extension.moduleName}}</p>
                <p class="ExtensionConnection TwitchConnection" data-twitchId="{{extension.twitch.id}}">{{extension.twitch.alias}}</p>
                <p class="ExtensionConnection DiscordConnection" data-discordId="{{extension.discord.id}}">{{extension.discord.alias}}</p>
                <p class="ExtensionConnection StreamElementsConnection" data-streamelementsId="{{extension.streamelements.id}}">{{extension.streamelements.alias}}</p>
            </div>
            {% endfor %}
            <div id="ExtensionConnections" class="hidden">
                <div class="ExtensionConnectionItem">
                    <h2>Twitch</h2>
                    <select id="ExtensionConnectionTwitch">
                        <option value="DISABLED">No connection</option>
                        {% for t in twitch %}
                        <option value="{{t.id}}">{{t.alias}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="ExtensionConnectionItem">
                    <h2>Discord</h2>
                    <select id="ExtensionConnectionDiscord">
                        <option value="DISABLED">No connection</option>
                        {% for d in discords %}
                        <option value="{{d.id}}">{{d.alias}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="ExtensionConnectionItem">
                    <h2>StreamElements</h2>
                    <select id="ExtensionConnectionStreamElements">
                        <option value="DISABLED">No connection</option>
                        {% for s in streamelements %}
                        <option value="{{s.id}}">{{s.alias}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </section>
    </article>
    <article id="settings">
        <header>
            <h1>Settings</h1>
        </header>
        <section class="data">
            {% for setting in ExtensionsSettings %}
            <div>
                <div class="OpenCloseButton" data-target="#setting{{loop.index-1}}">{{setting['name']}}</div>
                <section class="ClosedSetting" id="setting{{loop.index-1}}" data-index="{{loop.index-1}}"
                    data-name="{{setting.name}}">
                    {% for subsetting in setting.config %}
                    <section>
                        <h3>{{subsetting}}</h3>
                        <div class="CompactButton SetDefaultSetting"
                            data-default="{{setting.config[subsetting]['value']}}">Set Default</div>
                        <p>{{setting['tip']}}</p>
                        {% if setting.config[subsetting]['type']|lower == 'dropdown' %}
                        <select name="{{subsetting}}" data-settingname="{{subsetting}}">
                            {% for choice in setting.config[subsetting]['choices'] %}
                            {% if setting.current[subsetting] == choice %}
                            <option value="{{choice}}" selected>{{choice}}</option>
                            {% else %}
                            <option value="{{choice}}">{{choice}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% elif setting.config[subsetting]['type']|lower == 'checkbox' %}
                        {% if setting.current[subsetting] == True %}
                        <input class="CustomCheckbox" type="checkbox" checked data-settingname="{{subsetting}}" />
                        {% else %}
                        <input class="CustomCheckbox" type="checkbox" data-settingname="{{subsetting}}" />
                        {% endif %}
                        {% else %}
                        <input type="{{setting.config[subsetting]['type']}}" value="{{setting.current[subsetting]}}"
                            data-settingname="{{subsetting}}" min="{{setting.config[subsetting]['min']}}"
                            max="{{setting.config[subsetting]['max']}}" step="{{setting.config[subsetting]['step']}}" />
                        {% if setting.config[subsetting]['type']|lower == 'range' %}
                        <p data-settingTarget="{{subsetting}}" class="rangeNumber"></p>
                        {% endif %}
                        {% endif %}
                    </section>
                    {% endfor %}
                    <div class="save_settings CompactButton" data-index="{{loop.index-1}}" data-name="{{setting.name}}">
                        Save Settings</div>
                </section>
            </div>
            {% endfor %}
        </section>
    </article>
    <article id="events">
        <header>
            <h1>Events</h1>
            <div id="ClearEvents" class="ResetClearBtn">CLEAR</div>
        </header>
        <section class="data listFormat">
            {% for event in events %}
            <div>
                <h2>{{event['type']}}</h2>
                {% if event['type']  == 'tip' %}
                <p>{{event['data']['amount']}} {{event['data']['currency']}} => {{event['data']['username']}}</p>
                {% elif event['type']  == 'cheer' %}
                <p>{{event['data']['amount']}} bits => {{event['data']['username']}}</p>
                {% elif event['type']  == 'host' %}
                <p>{{event['data']['amount']}} host => {{event['data']['username']}}</p>
                {% elif event['type']  == 'raid' %}
                <p>{{event['data']['amount']}} raid => {{event['data']['username']}}</p>
                {% elif event['type']  == 'subscriber' %}
                <p>
                    {% if event['data']['tier'] == 'prime' %}
                    prime
                    {% elif event['data']['tier'] == '2000' %}
                    tier 2
                    {% elif event['data']['tier'] == '3000' %}
                    tier 3
                    {% else %}
                    tier 1
                    {% endif %}
                    {% if event['data']['gifted'] == True %}
                    gift => {{event['data']['sender']}} to {{event['data']['username']}}
                    {% else %}
                    , {{event['data']['amount']}} months => {{event['data']['username']}}
                    {% endif %}
                </p>
                {% else %}
                <p>{{event['data']['username']}}</p>
                {% endif %}
            </div>
            {% endfor %}
        </section>
    </article>
    <article id="messages">
        <header>
            <h1>Messages</h1>
            <div id="ClearMessages" class="ResetClearBtn">CLEAR</div>
        </header>
        <section class="data">
            {% for message in messages %}
            <p class="message">{{message}}</p>
            {% endfor %}
        </section>
    </article>
    <article id="logs">
        <header>
            <h1>Logs</h1>
            <div id="ClearLogs" class="ResetClearBtn">CLEAR</div>
        </header>
        <section class="data listFormat">
            {% for log in ExtensionLogs %}
            <div>
                <h2>{{log.module}}</h2>
                <p>{{log.message}}</p>
            </div>
            {% endfor %}
        </section>
    </article>
    <article id="regulars">
        <header>
            <h1>Regulars</h1>
        </header>
        <section class="data">
            <div id="RegularWrapper">
                <h2>Platform & group</h2>
                <select id="RegularPlatforms">
                    <option selected hidden>Select platform</option>
                    {% for regularPlatform in regularPlatforms %}
                    <option value="{{regularPlatform}}">{{regularPlatform}}</option>
                    {% endfor %}
                </select>
                <input type="text" id="RegularGroupInput" class="hideEmptyList" placeholder="groupname">
                <div id="ManageRegularGroup" class="hidden">
                    <h2>New regular</h2>
                    <input type="text" id="RegularInput" placeholder="regular alias">
                    <div>
                        <input type="text" id="RegularIdInput" placeholder="regular id">
                    </div>
                    <div id="AddRegular">Add regular</div>
                    <h2>Regulars in group</h2>
                    <p>Click twice (second time once red) to delete</p>
                    <input type="text" id="SearchRegularAlias" placeholder="filter by alias">
                    <div id="CurrentRegulars"></div>
                </div>
            </div>
        </section>
    </article>
    <article id="twitch">
        <header>
            <h1>Twitch</h1>
        </header>
        <section class="data">
            <a href="https://twitchapps.com/tmi/" target="_blank" rel="noopener noreferrer" class="button">Get TMI</a>
            <p>Keep the TMI secret!</p>
            <select id="SelectedTwitch">
                <option selected hidden>Select bot</option>
                <option value="NEW">Create</option>
                {% for t in twitch %}
                <option value="{{t.id}}">{{t.alias}}</option>
                {% endfor %}
            </select>
            <div id="TwitchInstanceData" class="hidden">
                <div>
                    <div id="SaveTwitch" class="button">Save instance</div>
                </div>
                <h2>Alias</h2>
                <input type="text" id="NewTwitchAlias">
                <h2>TMI</h2>
                <input type="password" id="GeneratedTMI">
                <p id="TMIAccountName">TMI account name: <span></span></p>
                <h2>Configuration</h2>
                <select id="TwitchInstanceCategory">
                    <option hidden selected></option>
                    <option value="channels">Channels</option>
                    <option value="regularGroups">Regular groups</option>
                </select>
                <div id="TwitchInstanceConfigs">
                    <div id="TwitchInstanceChannels">
                        <h3 class="smaller pushDown">Add new</h3>
                        <input id="TwitchConfigItemInput" type="text">
                        <div>
                            <div id="TwitchAddConfigItem" class="button">Add new</div>
                        </div>
                        <h3>Channels</h3>
                        <p>Click twice (second time once red) to delete</p>
                        <div id="TwitchCurrentChannels"></div>
                    </div>
                    <div id="TwitchInstanceRegularGroups">
                        <h3>Regular groups</h3>
                        <p>Click to include regular group (green = included)</p>
                        <div id="TwitchCurrentRegularGroups">
                            {% for trg in twitchRegularGroups %}
                            <div class="configItem" data-regularGroupName="{{trg}}">{{trg}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <article id="streamelements">
        <header>
            <h1>StreamElements</h1>
        </header>
        <section class="data">
            <select id="SelectedStreamElements">
                <option selected hidden>Select bot</option>
                <option value="NEW">Create</option>
                {% for s in streamelements %}
                <option value="{{s.id}}">{{s.alias}}</option>
                {% endfor %}
            </select>
            <div id="StreamElementsInstanceData" class="hidden">
                <div>
                    <div id="SaveStreamElements" class="button">Save instance</div>
                </div>
                <h2>Alias</h2>
                <input type="text" id="NewStreamElementsAlias">
                <h2>JWT</h2>
                <input type="password" id="GeneratedJWT">
                <p id="JTWAccountName">Channel target: <span></span></p>
            </div>
        </section>
    </article>
    <article id="discord">
        <header>
            <h1>Discord</h1>
        </header>
        <section class="data">
            <a href="https://discord.com/developers/applications" target="_blank" rel="noopener noreferrer" class="button">Get token</a>
            <p>Keep the token secret (get one by creating an app on the Discord dashboard)!</p>
            <select id="SelectedDiscord">
                <option selected hidden>Select bot</option>
                <option value="NEW">Create</option>
                {% for d in discords %}
                <option value="{{d.id}}">{{d.alias}}</option>
                {% endfor %}
            </select>
            <div id="DiscordInstanceData" class="hidden">
                <div>
                    <div id="SaveDiscord" class="button">Save instance</div>
                </div>
                <h2>Alias</h2>
                <input type="text" id="NewDiscordAlias">
                <h2>Token</h2>
                <input type="password" id="GeneratedToken">
                <p id="TokenAccountName">Bot account: <span></span></p>
                <h2>Intents</h2>
                <p>Each intent have to be enabled on the Discord application dashboard!</p>
                <div class="horizontalItemsFlex centerVerticalFlex pushDown">
                    <input id="DiscordMembersIntent" class="CustomCheckbox" type="checkbox" />
                    <span class="pushRight">Members</span>
                </div>
                <div class="horizontalItemsFlex centerVerticalFlex pushDown">
                    <input id="DiscordPresencesIntent" class="CustomCheckbox" type="checkbox" />
                    <span class="pushRight">Presences</span>
                </div>
                <div class="horizontalItemsFlex centerVerticalFlex pushDown">
                    <input id="DiscordMessageContentIntent" class="CustomCheckbox" type="checkbox" />
                    <span class="pushRight">Message content</span>
                </div>
                <h2>Regular groups</h2>
                <p>Click to include regular group (green = included)</p>
                <div id="DiscordCurrentRegularGroups">
                    {% for drg in discordRegularGroups %}
                    <div class="configItem" data-regularGroupName="{{drg}}">{{drg}}</div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </article>
    <article id="setup">
        <header>
            <h1>Setup</h1>
        </header>
        <section class="data">
            <section>
                <p>Server port</p>
                <input type="number" id="server_port-input" value="{{serverPort}}" />
                <div class="CompactButton saveSetupButton">SAVE</div>
            </section>
            <section>
                <p>Script executions per second</p>
                <input type="number" id="exec_per_second-input" value="{{tickrate}}" />
                <div class="CompactButton saveSetupButton">SAVE</div>
            </section>
        </section>
    </article>
    <footer>
        <h2>Unofficial creation by <a href="https://github.com/Yazaar">Yazaar</a></h2>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="/static/scripts/index.js"></script>
</body>

</html>